extends layout

block head
  link(rel='stylesheet', href='stylesheets/style.css')

block content
  form(action='/', method='POST')

    h1 Select your character
    #character-chooser
      div Model
      each model, i in files.players
        .form-check.form-check-inline
          label.form-check-label
            input.form-check-input(type='radio', name='model', value=model)
            = model
            .thumbnail(style='background: url("/graphics/players/' + model + '.png")')

    h1 Join a room
    #list
      ul
        each room, id in rooms
          li
            h2= room.name
            .background(style='background: url("graphics/backgrounds/' + room.background + '.png")')
              each player, model in room.players
                .thumbnail.float-start(style='background: url("/graphics/players/' + model + '.png")')

            button.btn.btn-secondary(type='submit', name='submit', value=id) Join
        else
          li No one is currently playing, create a room below

    h1 Create a room
    label.form-label Name
      input.form-control(name='name', type='text', maxlength=c.FORM_ROOM_NAME_LENGTH)
    div
      div Background
      each background, i in files.backgrounds
        .form-check.form-check-inline
          label.form-check-label
            input.form-check-input(type='radio', name='background', value=background, checked=i===0)
            = background
            .thumbnail(style='background: url("/graphics/backgrounds/' + background + '.png")')
            //- img(src='/graphics/' + background + '.png')
    div
      label.form-label Simultaneous sticks
        select.form-select(name='simultaneousSticks')
          - for (var i = c.FORM_SIMULTANEOUS_STICKS_MIN; i <= c.FORM_SIMULTANEOUS_STICKS_MAX; i++)
            option(value=i, selected=i===c.FORM_SIMULTANEOUS_STICKS_DEFAULT)= i
    div
      label.form-label Round time (in minutes)
        input.form-control(name='time', type='number', min=c.FORM_TIME_MIN, max=c.FORM_TIME_MAX, value=c.FORM_TIME_DEFAULT)
    div
      label.form-label Sticks to collect
        input.form-control(name='sticks', type='number', min=c.FORM_STICKS_MIN, max=c.FORM_STICKS_MAX, value=c.FORM_STICKS_DEFAULT)
    button.btn.btn-primary(type='submit', name='submit', value='new') Create

  .my-5
    a(href='/about') About
