extends layout

block head
  script(src='/scripts/game.js')
  script(src='/scripts/player.js')

block content
  script(type='text/javascript').

  style.
    .thumbnail {
      width: 32px; /* PLAYER_WIDTH */
      height: 48px; /* PLAYER_HEIGHT */
    }
    .background {
      /*
      width: 512px;
      height: 384px;
      */
      width: 512px; /* PLAYER_WIDTH * initData.files.players.length */
      height: 48px; /* PLAYER_HEIGHT */
    }

  form(action='/', method='POST')

    h1 Select your character
    #character-chooser
      p Model
      each model, i in models
        .form-check.form-check-inline
          label.form-check-label
            input.form-check-input(type='radio', name='model', value=model, selected=i===0)
            = model
            .thumbnail(style='background: url("/graphics/' + model + '.png")')

    h1 Join a room
    #list
      ul
        each room, id in rooms
          li
            h2= room.name
            .background(style='background: url("graphics/' + room.background + '.png")')
              each player, model in room.players
                .thumbnail.float-start(style='background: url("/graphics/' + model + '.png")')

            button.btn.btn-secondary(type='submit', name='submit', value=id) Join
      - if (Object.keys(rooms).length === 0)
        p No one is currently playing, create a room below

    h1 Create a room
    label.form-label Name
      input.form-control(name='name', type='text', maxlength=FORM_ROOM_NAME_LENGTH)
    div
      p Background
      each background, i in backgrounds
        .form-check.form-check-inline
          label.form-check-label
            input.form-check-input(type='radio', name='background', value=background, selected=i===0)
            = background
            .thumbnail(style='background: url("/graphics/' + background + '.png")')
            //- img(src='/graphics/' + background + '.png')
    button.btn.btn-primary(type='submit', name='submit', value='new') Create
